html,body {
    height:100%;
}

header {
        
    display:block;
    background:#ee2043;
    padding:10px 0px;
    font-family:Helvetica;
    color:#ffffff;
}
section {
    width: 77%;
    background: rgb(255, 255, 255);
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
}
h2{
    font-family:Helvetica;  
}
h3{
    font-family:Helvetica;  
}
p{
    font-family:Tahoma, Geneva, sans-serif ;
}
li{
    font-family:Tahoma, Geneva, sans-serif ;
}
aside {
    float: right;
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
    position: fixed;left:79.1%;
    text-align: center;
    word-wrap: break-word;
   
}
footer {
    position: relative;
    margin-top: -50px;
     
    padding:5px 0px;
    clear: both;
    text-align: center;
    color: #fff;
}
figure {
    display: table; margin: 0 auto;
}
.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: #286af0;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}